page-login {
	.app-icon {
		background: rgba(0, 0, 0, 0) url("../assets/imgs/app-icon.png") repeat scroll center center / cover ;
		border-radius: 0;
		height: 50px;
		margin: 0 auto;
		width: 50px;
	}

}
