<ion-header>
  <!--
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    
    <ion-segment>
      <ion-segment-button value="all">
        Todos
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favoritos
      </ion-segment-button>
    </ion-segment>
    
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  
  </ion-navbar>
  -->

  
 
  
  <ion-toolbar no-border-top>
    <!-- <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Menus
    </ion-title>
  </ion-navbar> -->
    <ion-searchbar color="primary" (input)="getItems($event)" (ionClear)="getItems($event)"  placeholder = "Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <!-- LISTA DE ESTACIONES -->
  <ion-list>

    <ion-item-sliding *ngFor="let item of items" #slidingItem>

      <button ion-item (click)="showEstacion(item.codigo)">
        <h3><ion-icon name="cube" item-start></ion-icon>{{item.nombre}}</h3>
        <p>
          Topico: {{item.topico}} &mdash;
          {{item.ultimaActualizacion}}
        </p>
         
      </button>


      <ion-item-options side="left" (ionSwipe)="ubicarEstacion(item.nombre, item.latitud, item.longitud, slidingItem)">
        <button ion-button expandable color="secondary" 
          (clic)="ubicarEstacion(item.nombre, item.latitud, item.longitud, slidingItem)">
          Ubicar
        </button>
      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button color="favorite">
          Favorito
        </button>
        <button ion-button color="danger">
          Remover
        </button>
        
      </ion-item-options>

    </ion-item-sliding>



    <!--  
    <button ion-item *ngFor="let item of items" (click)="getEstacion(item.codigo)">
        
      
      <h2><ion-icon name="cube" item-start></ion-icon>{{ item.nombre | uppercase }}</h2>
      <p>Ultima actualización: {{ item.ultimaActualizacion }}</p>
      <!-- <p>{{ item.latitud }} {{ item.longitud }}</p>
      </button>-->


    </ion-list>
    <!-- END LISTA DE ESTACIONES -->


  <!-- 
 <ion-list *ngIf="!isfiltered">
    <ion-item *ngFor="let museum of museumList" (click)="itemTapped($event, museum)">
      <h2><ion-icon ios="ios-pin" md="md-pin"></ion-icon>{{museum.name}}</h2>
      <p>State name: {{museum.state}}</p>
    </ion-item>
  </ion-list>
-->


  <!--
  
  <h2>Lista de usuarios!</h2>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-avatar item-start>
        <img [src]="user.picture.medium">
      </ion-avatar>
      <h2>{{ user.name.first | uppercase }}</h2>
      <p>{{ user.email }}</p>
    </ion-item>
  </ion-list>

  
  
  
-->



</ion-content>
